<!DOCTYPE html>
<html>
<head>
	<title>Dewa Medika | Artikel</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section id="headbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="contact d-flex justify-content-start">
						<h5><i class="bi bi-telephone"></i> 0817-9007-720</h5>
						<h5><i class="bi bi-envelope"></i> dewamedikaklinik@gmail.com</h5>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="social-media d-flex justify-content-end">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo.png" alt="twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg bg-navbar" id="navmenu">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="beranda.html">Beranda</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
		        		</li>
		        		<li class="nav-item dropdown">
				         	<a class="nav-link dropdown-toggle" href="#" id="menuLayanan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Layanan
				        	</a>
				        	<ul class="dropdown-menu" aria-labelledby="menuLayanan">
				            	<li><a href="dokter_umum.html" class="dropdown-item">Dokter Umum</a></li>
	          				    <li><a href="#" class="dropdown-item">Instalasi Gawat Darurat</a></li>
	          				    <li><a href="#" class="dropdown-item">Dental Care</a></li>
	          				    <li><a href="#" class="dropdown-item">Kebidanan</a></li>
	          				    <li><a href="#" class="dropdown-item">Vaksin</a></li>
	          				    <li><a href="#" class="dropdown-item">Laboratorium</a></li>
	          				    <li><a href="homecare.html" class="dropdown-item">Homecare</a></li>
	          				    <li><a href="#" class="dropdown-item">Skincare</a></li>
	          				    <li><a href="#" class="dropdown-item">Akupuntur</a></li>
	          				    <li><a href="#" class="dropdown-item">Khitan</a></li>
	          				    <li><a href="#" class="dropdown-item">Apotek 24 Jam</a></li>
	          				    <li><a href="#" class="dropdown-item">Psikiater</a></li>
				        	</ul>
				        </li>
		        		<li class="nav-item">
		          			<a class="nav-link active" aria-current="page" href="artikel.html">Artikel</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="kontak_kami.html">Kontak Kami</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="#">Member</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="karir.html">Karir</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="marketplace.html">Marketplace</a>
		        		</li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
	</section>
	<section id="artikel-detail">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
					    	<li class="breadcrumb-item"><a href="beranda.html">Beranda</a></li>
					    	<li class="breadcrumb-item"><a href="artikel.html">Artikel</a></li>
					    	<li class="breadcrumb-item active" aria-current="page">Artikel 1</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-12">
					<img src="images/artikel-1.png" alt="Artikel">
				</div>
				<div class="col-md-12">
					<span class="date">
						17 - 08 - 2022
					</span>
				</div>
				<div class="col-md-12">
					<h1>Hidup Lebih Berarti Jika Hidup Lebih Teratur</h1>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non tortor orci. Phasellus id tellus vitae diam tincidunt placerat a a turpis. Fusce sagittis diam quis lacus consectetur fermentum. Pellentesque elementum, enim vel suscipit aliquam, ligula libero venenatis tortor, sed tincidunt eros orci iaculis dui. Maecenas elementum augue at libero convallis, sit amet tincidunt purus fringilla. Morbi aliquet quam non commodo efficitur. Aliquam non tristique metus. Maecenas lacus neque, rutrum eu venenatis at, consequat maximus nisl. Sed fermentum fermentum condimentum. Sed egestas dapibus risus sed ultrices. Vivamus sit amet justo at felis eleifend scelerisque. Etiam est tortor, tincidunt eget velit in, dignissim ultrices erat. Phasellus sed est in nisl tempus volutpat. Integer ornare nec neque in sodales.</p>
						<p>Vivamus dignissim enim et pharetra finibus. Vivamus lectus nunc, tempus ut justo non, blandit condimentum lorem. Nam ultricies lorem eget elit dapibus sollicitudin. Vivamus ullamcorper lacus nec tincidunt semper. Morbi nec malesuada urna. Mauris finibus ex eget tempor tincidunt. Morbi sed diam eu odio imperdiet tempus a quis tortor.</p>
						<p>Integer mollis bibendum tellus eu viverra. Fusce sit amet dolor id erat finibus lacinia. Duis fermentum felis turpis, at pharetra enim venenatis sit amet. Nullam aliquet magna at arcu malesuada lacinia. Ut tristique gravida nibh, pellentesque vehicula ligula vehicula vel. Donec fermentum lobortis erat, sit amet posuere mauris tristique eu. Vestibulum lobortis malesuada nibh, a vehicula ante elementum sit amet. Proin hendrerit congue dolor, quis auctor justo malesuada ut. Mauris rutrum viverra mollis. Sed a tempor justo, quis pretium diam. Fusce posuere volutpat ante et vulputate. Mauris urna risus, sodales a est vel, tristique feugiat ex. Maecenas lectus enim, scelerisque eu enim quis, dapibus convallis leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ut tincidunt massa. Phasellus nulla odio, consequat sed massa sed, rhoncus dapibus magna.</p>
						<p>Maecenas ornare viverra ligula sed tincidunt. Nam id feugiat ipsum. In hac habitasse platea dictumst. Ut at lectus interdum, porttitor ante vitae, facilisis sem. Duis eget cursus velit, quis ullamcorper ante. Aliquam quis consequat erat. Cras vulputate justo vel sapien ultrices, et fringilla massa feugiat. Pellentesque dictum, diam at semper sodales, elit risus tristique ligula, sed rutrum lacus purus vel felis. Nulla fermentum tincidunt porttitor. Duis orci velit, placerat eget venenatis id, sodales at arcu. Nunc in tincidunt nisi, at dignissim tellus. Vivamus volutpat imperdiet diam quis efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur accumsan tincidunt imperdiet.</p>
						<p>Praesent fringilla molestie erat finibus vulputate. Praesent aliquet velit et ante vulputate, sed porttitor nisl mattis. Sed nulla erat, rutrum sed fringilla eu, commodo nec diam. Sed auctor egestas odio eu ornare. Cras nunc elit, malesuada a est iaculis, egestas convallis augue. Nullam efficitur dui nunc, ornare dictum felis volutpat a. Praesent sit amet est et velit aliquet mollis. Nullam in iaculis mi. Proin interdum gravida ipsum, id euismod ligula. Mauris imperdiet facilisis vulputate. In hac habitasse platea dictumst. Sed diam velit, dignissim at eros at, sollicitudin semper lacus. Fusce sagittis massa sed lacinia dapibus. Etiam placerat velit quis augue semper egestas.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="footer">
		<div class="container-fluid">
			<div class="content">
				<div class="profile">
					<img src="images/logo.png" alt="Logo">
					<h6>Kami Berkomitmen untuk memberikan  pelayanan terbaik dan terus  meningkatkan kualitas baik produk maupun layanan kepada customer kami.</h6>
					<div class="social-media">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo2.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo2.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo2.png" alt="twitter"></a>
					</div>
				</div>
				<div class="perusahaan">
					<h2>Perusahaan</h2>
					<ul class="footer-list">
					    <li>
					    	<a href="#" class="footer-item">Tentang Kami</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Layanan</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Artikel</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Lokasi</a>
					    </li>
					</ul>
				</div>
				<div class="kontak">
					<h2>Hubungi Kami</h2>
					<p class="email">dewamedikaclinic@gmail.com</p>
					<p class="phone">0817 90087 720</p>
				</div>
				<div class="gabung">
					<h2>Bergabung</h2>
					<a href="#" class="footer-link">
						Karir
					</a>
				</div>
				<div class="marketplace">
					<h2>Marketplace</h2>
					<a href="#" class="footer-link">
						Marketplace
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="copyright" class="text-center">
		Copyright &copy; 2022 PT DiAntara Inter Media. All Rights Reserved.
	</section>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>