<!DOCTYPE html>
<html>
<head>
	<title>Dewa Medika | Artikel</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- untuk ganti warna primary(pink) -->
<!-- 	<style type="text/css">
		:root{
			--bg-color: #F9D93F;
		}
	</style> -->
</head>
<body>
	<section id="headbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="contact d-flex justify-content-start">
						<h5><i class="bi bi-telephone"></i> 0817-9007-720</h5>
						<h5><i class="bi bi-envelope"></i> dewamedikaklinik@gmail.com</h5>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="social-media d-flex justify-content-end">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo.png" alt="twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg bg-navbar" id="navmenu">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="beranda.html">Beranda</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
		        		</li>
		        		<li class="nav-item dropdown">
				         	<a class="nav-link dropdown-toggle" href="#" id="menuLayanan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Layanan
				        	</a>
				        	<ul class="dropdown-menu" aria-labelledby="menuLayanan">
				            	<li><a href="dokter_umum.html" class="dropdown-item">Dokter Umum</a></li>
	          				    <li><a href="#" class="dropdown-item">Instalasi Gawat Darurat</a></li>
	          				    <li><a href="#" class="dropdown-item">Dental Care</a></li>
	          				    <li><a href="#" class="dropdown-item">Kebidanan</a></li>
	          				    <li><a href="#" class="dropdown-item">Vaksin</a></li>
	          				    <li><a href="#" class="dropdown-item">Laboratorium</a></li>
	          				    <li><a href="homecare.html" class="dropdown-item">Homecare</a></li>
	          				    <li><a href="#" class="dropdown-item">Skincare</a></li>
	          				    <li><a href="#" class="dropdown-item">Akupuntur</a></li>
	          				    <li><a href="#" class="dropdown-item">Khitan</a></li>
	          				    <li><a href="#" class="dropdown-item">Apotek 24 Jam</a></li>
	          				    <li><a href="#" class="dropdown-item">Psikiater</a></li>
				        	</ul>
				        </li>
		        		<li class="nav-item">
		          			<a class="nav-link active" aria-current="page" href="artikel.html">Artikel</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="kontak_kami.html">Kontak Kami</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="#">Member</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="karir.html">Karir</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="marketplace.html">Marketplace</a>
		        		</li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
	</section>
	<section id="artikel">
		<div class="container-fluid">
			<h2 class="text-center">Artikel</h2>
			<h6 class="text-center">Sajian Beberapa  artikel yang ada di dewa medika</h6>
			<div class="row">
				<div class="col-md-12">
					<h2>Kategori</h2>
					<div class="kategori-list">
						<a href="#" class="btn btn-kategori active">Kesehatan</a>
						<a href="#" class="btn btn-kategori">Medis</a>
						<a href="#" class="btn btn-kategori">Corona</a>
						<a href="#" class="btn btn-kategori">Akupuntur</a>
						<a href="#" class="btn btn-kategori">Healty</a>
					</div>
				</div>
			</div>
			<div class="row artikel-list">
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-1.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">17-08-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Hidup Lebih Berarti Jika Hidup Lebih Teratur</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-2.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">15-08-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Dokter Didunia Sedang Was Was Corona Baru!</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-3.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">09-08-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Teknik Komputerisasi Di Dunia Medis Ada ?</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-4.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">05-08-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Vaksin Akan Terus Digencar Oleh Pemerintah !</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-5.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">02-08-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Tulang Manusia Lebih Baik Jika Sering Direnggang ?</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-6.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">28-07-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Kenapa Baju Dokter Selalu Berwarna Putih Bersih ?</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-7.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">26-07-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Gempar !! Vaksin Didunia Akan Habis ?</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-8.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">20-07-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Pasien Akan Lebih Senang Terhadap Dokter Ramah</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 artikel-item">
					<div class="card">
						<img src="images/Artikel-9.png" alt="Artikel 1">
						<div class="card-body">
							<div class="detail">
								<span class="date">15-07-2022</span>
								<span class="kategori">Kesehatan</span>								
							</div>
							<a href="artikel_detail.html" class="title">Ini DIa Beberapa Ambulance Terbaik Dunia</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Ut enim ad minim veniam, quis nostrud exerci ullamco laboris
								<a href="artikel_detail.html" class="read-more">Read More</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="footer">
		<div class="container-fluid">
			<div class="content">
				<div class="profile">
					<img src="images/logo.png" alt="Logo">
					<h6>Kami Berkomitmen untuk memberikan  pelayanan terbaik dan terus  meningkatkan kualitas baik produk maupun layanan kepada customer kami.</h6>
					<div class="social-media">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo2.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo2.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo2.png" alt="twitter"></a>
					</div>
				</div>
				<div class="perusahaan">
					<h2>Perusahaan</h2>
					<ul class="footer-list">
					    <li>
					    	<a href="#" class="footer-item">Tentang Kami</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Layanan</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Artikel</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Lokasi</a>
					    </li>
					</ul>
				</div>
				<div class="kontak">
					<h2>Hubungi Kami</h2>
					<p class="email">dewamedikaclinic@gmail.com</p>
					<p class="phone">0817 90087 720</p>
				</div>
				<div class="gabung">
					<h2>Bergabung</h2>
					<a href="#" class="footer-link">
						Karir
					</a>
				</div>
				<div class="marketplace">
					<h2>Marketplace</h2>
					<a href="#" class="footer-link">
						Marketplace
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="copyright" class="text-center">
		Copyright &copy; 2022 PT DiAntara Inter Media. All Rights Reserved.
	</section>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>