<!DOCTYPE html>
<html>
<head>
	<title>Dewa Medika | Beranda</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section id="headbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="contact d-flex justify-content-start">
						<h5><i class="bi bi-telephone"></i> 0817-9007-720</h5>
						<h5><i class="bi bi-envelope"></i> dewamedikaklinik@gmail.com</h5>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="social-media d-flex justify-content-end">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo.png" alt="twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg bg-navbar" id="navmenu">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        		<li class="nav-item">
		          			<a class="nav-link active" aria-current="page" href="beranda.html">Beranda</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
		        		</li>
		        		<li class="nav-item dropdown">
				         	<a class="nav-link dropdown-toggle" href="#" id="menuLayanan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Layanan
				        	</a>
				        	<ul class="dropdown-menu" aria-labelledby="menuLayanan">
				            	<li><a href="dokter_umum.html" class="dropdown-item">Dokter Umum</a></li>
	          				    <li><a href="#" class="dropdown-item">Instalasi Gawat Darurat</a></li>
	          				    <li><a href="#" class="dropdown-item">Dental Care</a></li>
	          				    <li><a href="#" class="dropdown-item">Kebidanan</a></li>
	          				    <li><a href="#" class="dropdown-item">Vaksin</a></li>
	          				    <li><a href="#" class="dropdown-item">Laboratorium</a></li>
	          				    <li><a href="homecare.html" class="dropdown-item">Homecare</a></li>
	          				    <li><a href="#" class="dropdown-item">Skincare</a></li>
	          				    <li><a href="#" class="dropdown-item">Akupuntur</a></li>
	          				    <li><a href="#" class="dropdown-item">Khitan</a></li>
	          				    <li><a href="#" class="dropdown-item">Apotek 24 Jam</a></li>
	          				    <li><a href="#" class="dropdown-item">Psikiater</a></li>
				        	</ul>
				        </li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="artikel.html">Artikel</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="kontak_kami.html">Kontak Kami</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="#">Member</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="karir.html">Karir</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="marketplace.html">Marketplace</a>
		        		</li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
	</section>
	<section id="banner">
		<div id="bannerCarousel" class="carousel slide" data-bs-ride="true">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Banner 1"></button>
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-current="true" aria-label="Banner 2"></button>
				<button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-current="true" aria-label="Banner 3"></button>
			</div>
			<div class="carousel-inner">
			    <div class="carousel-item active">
			    	<div class="row banner-item">
			    		<div class="col-md-6 col-sm-6">
			    			<div class="text">
			    				<h2>Your Healt Is Priority Not For Us But For Your Self</h2>
				    			<h4>The word health refers to a state of complete emotional and physical well-being. Healthcare exists to help people maintain this optimal state of health.</h4>
				    			<div class="d-flex detail">
				    				<div class="simage d-flex align-items-center">
				    					<img src="images/get.png" alt="get">
				    					<h6>Get Healty</h6>
				    				</div>
				    				<div class="simage d-flex align-items-center">
				    					<img src="images/make.png" alt="make">
				    					<h6>Make Healty</h6>
				    				</div>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="col-md-6 col-sm-6">
			    			<img src="images/banner.png" alt="banner">
			    		</div>
			    	</div>
			    </div>
			    <div class="carousel-item">
			    	<div class="row banner-item">
			    		<div class="col-md-6 col-sm-6">
			    			<div class="text">
			    				<h2>Your Healt Is Priority Not For Us But For Your Self</h2>
				    			<h4>The word health refers to a state of complete emotional and physical well-being. Healthcare exists to help people maintain this optimal state of health.</h4>
				    			<div class="d-flex detail">
				    				<div class="simage d-flex align-items-center">
				    					<img src="images/get.png" alt="get">
				    					<h6>Get Healty</h6>
				    				</div>
				    				<div class="simage d-flex align-items-center">
				    					<img src="images/make.png" alt="make">
				    					<h6>Make Healty</h6>
				    				</div>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="col-md-6 col-sm-6">
			    			<img src="images/banner.png" alt="banner">
			    		</div>
			    	</div>
			    </div>
			    <div class="carousel-item">
			    	<div class="row banner-item">
			    		<div class="col-md-6 col-sm-6">
			    			<div class="text">
			    				<h2>Your Healt Is Priority Not For Us But For Your Self</h2>
				    			<h4>The word health refers to a state of complete emotional and physical well-being. Healthcare exists to help people maintain this optimal state of health.</h4>
				    			<div class="d-flex detail">
				    				<div class="simage d-flex align-items-center">
				    					<img src="images/get.png" alt="get">
				    					<h6>Get Healty</h6>
				    				</div>
				    				<div class="simage d-flex align-items-center">
				    					<img src="images/make.png" alt="make">
				    					<h6>Make Healty</h6>
				    				</div>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="col-md-6 col-sm-6">
			    			<img src="images/banner.png" alt="banner">
			    		</div>
			    	</div>
			    </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>
	<section id="services">
		<div class="container-fluid">
			<h4>Our Services</h4>
			<h6>12  pelayanan yang kami miliki<br/>di dewa medika yang siap membantu<br/>menyelesaikan masalah anda</h6>
			<div class="row service-list">
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/doktor-umum.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Dokter Umum</h4>
									<h6 class="desc">Pelayanan umum Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/IGD.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Instalasi Gawat Darurat</h4>
									<h6 class="desc">Pelayanan IGD Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/dental_care.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Dental Care</h4>
									<h6 class="desc">Pelayanan Dewa Medika Dental Care</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/kebidanan.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Kebidanan</h4>
									<h6 class="desc">Pelayanan kebidanan Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/vaksinasi-b.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Vaksin</h4>
									<h6 class="desc">Pelayanan vaksin Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/laboratorium-b.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Laboratorium</h4>
									<h6 class="desc">Pelayanan Lab. Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/homecaree.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Homecare</h4>
									<h6 class="desc">Pelayanan homecare Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/skincare.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Skincare</h4>
									<h6 class="desc">Pelayanan skincare Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/akupunturr.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Akupuntur</h4>
									<h6 class="desc">Pelayanan akupuntur Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/khitann.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Khitan</h4>
									<h6 class="desc">Pelayanan khitan Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/apotek.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Apotek 24 Jam</h4>
									<h6 class="desc">Pelayanan Apotek Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/psikiater.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Psikiater</h4>
									<h6 class="desc">Pelayanan Psikiater Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="promo">
		<div class="container-fluid">
			<h4>Our Promo</h4>
			<div class="promo-content">
				<img src="images/promo2.png" alt="promo">
				<div class="text text-start">
					<h2>This Is Our Promo Special</h2>
					<h6>Haii semua kami dari dewa medika mempunyai berbagi promo lohh yang pastinya akan membuat anda senang dan juga menjadi anda lebih happy untuk mengunjungi kamii terus...</h6>
				</div>
			</div>
			<div class="promo-list">
				<dir class="row">
					<div class="col-md-4 col-sm-4 promo-item">
						<div class="card">
							<img src="images/promo.png" alt="promo">
							<div class="card-body text-center">
								<h3>Promo</h3>
								<p class="title">Usg Ibu Hamil</p>
								<p class="desc">Klinik Dewa Medika akan bantu untuk lihat si buah hati.</p>
								<p class="dc-price"><del>Rp 200.000</del></p>
								<p class="price">Rp 150.000</p>
								<p class="catatan">Free Print Foto 2D</p>
								<button class="btn btn-kontak">Hubungi Kami</button>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 promo-item">
						<div class="card">
							<img src="images/promo.png" alt="promo">
							<div class="card-body text-center">
								<h3>Promo</h3>
								<p class="title">Akupuntur</p>
								<p class="desc">Perlu tindakan akupuntur ? Klinik dewa medika siap bantu.</p>
								<p class="dc-price"><del>Rp 300.000</del></p>
								<p class="price">Rp 249.000</p>
								<p class="catatan">&nbsp;</p>
								<button class="btn btn-kontak">Hubungi Kami</button>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 promo-item">
						<div class="card">
							<img src="images/promo.png" alt="promo">
							<div class="card-body text-center">
								<h3>Promo</h3>
								<p class="title">Iva Test + Vagina toilet</p>
								<p class="desc">Promo women healt balik lagi ? yuk, klaim promo nya segera</p>
								<p class="dc-price"><del>Rp 400.000</del></p>
								<p class="price">Rp 299.000</p>
								<p class="catatan">&nbsp;</p>
								<button class="btn btn-kontak">Hubungi Kami</button>
							</div>
						</div>
					</div>
				</dir>
			</div>
		</div>
	</section>
	<section id="expert">
		<div class="container-fluid">
			<h4>Our Expert</h4>
			<h6>Ini adalah beberapa bidang keahlian<br/>yang berada di klinik dewa medika</h6>
			<h6>G.U.K.H.A.V</h6>
			<div class="row expert-list">
				<div class="col-md-4 col-sm-6 expert-item">
					<img src="images/gigi.png" alt="gigi" class="rounded">
					<h4 class="title">Gigi</h4>
					<p class="desc">
						gigi adalah spesialisasi dalam kedokteran yang bertugas untuk mengobati permasalahan gigi
					</p>
				</div>
				<div class="col-md-4 col-sm-6 expert-item">
					<img src="images/umum.png" alt="umum" class="rounded">
					<h4 class="title">Umum</h4>
					<p class="desc">
						Dokter umum adalah seorang dokter yang berfokus untuk menangani gejala dan penyakit pada pasien secara umum.
					</p>
				</div>
				<div class="col-md-4 col-sm-6 expert-item">
					<img src="images/khitan.png" alt="khitan" class="rounded">
					<h4 class="title">Khitan</h4>
					<p class="desc">
						Khitanan adalah pemotongan sebagian dari organ kelamin, pelaksanaan khitan hampir disetiap tempat yaitu pemotongan kulup penis laki-laki.
					</p>
				</div>
				<div class="col-md-4 col-sm-6 expert-item">
					<img src="images/homecare2.png" alt="homecare" class="rounded">
					<h4 class="title">Homecare</h4>
					<p class="desc">
						Home care merupakan pelayanan yang sesuai dengan kebutuhan pengidap suatu penyakit, baik individu maupun keluarga.
					</p>
				</div>
				<div class="col-md-4 col-sm-6 expert-item">
					<img src="images/akupuntur.png" alt="akupuntur" class="rounded">
					<h4 class="title">Akupuntur</h4>
					<p class="desc">
						akupunktur adalah teknik pengobatan yang dilakukan dengan cara menusuk jarum kecil dan halus pada titik-titik tertentu di tubuh.
					</p>
				</div>
				<div class="col-md-4 col-sm-6 expert-item">
					<img src="images/vaksin.png" alt="vaksin" class="rounded">
					<h4 class="title">Vaksin</h4>
					<p class="desc">
						 Vaksin adalah zat atau senyawa yang berfungsi untuk membentuk kekebalan tubuh terhadap suatu penyakit.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="about-us">
		<div class="container-fluid">
			<h4>About Us</h4>
			<div class="about-us-content">
				<img src="images/aboutus.png" alt="about-us">
				<div class="text text-start">
					<h6>
						Klinik Dewa Medika berdiri sejak tahun 1987 dengan nama klinik bhakti mulya. yang berdiri dibawah naungan yayasan bhakti mulya. sejak tahun 2006 lalu berdasarkan kepala suku dinas kesehatan kota administrasi jakarta - timur tahun 2010 dengan no. 188/5.60.07/12.15 menyatakan bahwa telah memberikan izin tetap.
					</h6>
					<a href="#" class="btn btn-about-us">Tentang Kami</a>
				</div>
			</div>
		</div>
	</section>
	<section id="footer">
		<div class="container-fluid">
			<div class="content">
				<div class="profile">
					<img src="images/logo.png" alt="Logo">
					<h6>Kami Berkomitmen untuk memberikan  pelayanan terbaik dan terus  meningkatkan kualitas baik produk maupun layanan kepada customer kami.</h6>
					<div class="social-media">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo2.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo2.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo2.png" alt="twitter"></a>
					</div>
				</div>
				<div class="perusahaan">
					<h2>Perusahaan</h2>
					<ul class="footer-list">
					    <li>
					    	<a href="#" class="footer-item">Tentang Kami</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Layanan</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Artikel</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Lokasi</a>
					    </li>
					</ul>
				</div>
				<div class="kontak">
					<h2>Hubungi Kami</h2>
					<p class="email">dewamedikaclinic@gmail.com</p>
					<p class="phone">0817 90087 720</p>
				</div>
				<div class="gabung">
					<h2>Bergabung</h2>
					<a href="#" class="footer-link">
						Karir
					</a>
				</div>
				<div class="marketplace">
					<h2>Marketplace</h2>
					<a href="#" class="footer-link">
						Marketplace
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="copyright" class="text-center">
		Copyright &copy; 2022 PT DiAntara Inter Media. All Rights Reserved.
	</section>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
