<!DOCTYPE html>
<html>
<head>
	<title>Dewa Medika | Layanan Dokter Umum</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section id="headbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="contact d-flex justify-content-start">
						<h5><i class="bi bi-telephone"></i> 0817-9007-720</h5>
						<h5><i class="bi bi-envelope"></i> dewamedikaklinik@gmail.com</h5>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="social-media d-flex justify-content-end">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo.png" alt="twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg bg-navbar" id="navmenu">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="beranda.html">Beranda</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
		        		</li>
		        		<li class="nav-item dropdown">
				         	<a class="nav-link dropdown-toggle active" href="#" id="menuLayanan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Layanan
				        	</a>
				        	<ul class="dropdown-menu" aria-labelledby="menuLayanan">
				            	<li><a href="dokter_umum.html" class="dropdown-item active">Dokter Umum</a></li>
	          				    <li><a href="#" class="dropdown-item">Instalasi Gawat Darurat</a></li>
	          				    <li><a href="#" class="dropdown-item">Dental Care</a></li>
	          				    <li><a href="#" class="dropdown-item">Kebidanan</a></li>
	          				    <li><a href="#" class="dropdown-item">Vaksin</a></li>
	          				    <li><a href="#" class="dropdown-item">Laboratorium</a></li>
	          				    <li><a href="homecare.html" class="dropdown-item">Homecare</a></li>
	          				    <li><a href="#" class="dropdown-item">Skincare</a></li>
	          				    <li><a href="#" class="dropdown-item">Akupuntur</a></li>
	          				    <li><a href="#" class="dropdown-item">Khitan</a></li>
	          				    <li><a href="#" class="dropdown-item">Apotek 24 Jam</a></li>
	          				    <li><a href="#" class="dropdown-item">Psikiater</a></li>
				        	</ul>
				        </li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="artikel.html">Artikel</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="kontak_kami.html">Kontak Kami</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="#">Member</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="karir.html">Karir</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="marketplace.html">Marketplace</a>
		        		</li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
	</section>
	<section id="banner-static">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="images/banner-du.png" alt="Banner">
				</div>
				<div class="col-md-8 col-sm-8">
					<h2>Klinik Dewa Medika Dokter Umum</h2>
					<h6>
						Dokter umum adalah seorang dokter yang berfokus untuk menangani gejala dan penyakit pada pasien secara umum.Dokter ini juga dikenal sebagai dokter layanan tingkat pertama yang berperan dalam memberikan pencegahan, diagnosis,penanganan awal, dan rujukan ke dokter spesialis jika diperlukan.
					</h6>
					<div class="healty">
						<img src="images/get.png" alt="Get Healty">
						<h4>Get Healty</h4>
						<img src="images/make.png" alt="Make Healty">
						<h4>Make Healty</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="kontak-kami-du">
		<div class="card">
			<div class="card-body">
				<h3>Kontak Kami</h3>
				<div class="row">
					<div class="col-md-4">
						<h6>Whatsapp</h6>
						<p><a href="#">0817 9007 720</a>(Cabang Jakarta)</p>
						<p><a href="#">0817 9007 780</a>(Cabang Bekasi)</p>
					</div>
					<div class="col-md-4">
						<h6>Instagram</h6>
						<p><a href="#">@dewamedikagroup</a></p>
						<p><a href="#">@dewamedikadentalcenter</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services-du">
		<div class="container-fluid">
			<h2>Layanan Dokter Umum</h2>
			<h6>9 pelayanan yang berada didokter umum<br/>dewa medika yang siap membantu anda</h6>
			<div class="row service-lists">
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/doktor-umum.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Konsultasi Dokter</h4>
									<h6 class="desc">Pelayanan Konsultasi Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/pengobatan.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Pengobatan</h4>
									<h6 class="desc">Pelayanan Pengobatan Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/bedah-minor.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Bedah Minor</h4>
									<h6 class="desc">Pelayanan Bedah Minor Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/usg.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">USG</h4>
									<h6 class="desc">Pelayanan USG Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/khitann.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Khitan</h4>
									<h6 class="desc">Pelayanan Khitan Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/medical-check-du.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Medical Check Up</h4>
									<h6 class="desc">Pelayanan Medical Check Up Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/akupunturr.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Akupuntur</h4>
									<h6 class="desc">Pelayanan Akupuntur Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/diabetes-du.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Perawatan Diabetes</h4>
									<h6 class="desc">Pelayanan Perawatan Diabetes Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-4 service-item">
					<div class="card" style="background-image: url('images/napza.png');">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4 class="title">Rehab Napza</h4>
									<h6 class="desc">Pelayanan Rehab Napza Dewa Medika</h6>
									<a href="#">Pesan Layanan <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="schedule-du">
		<h2>Jadwal Dokter Umum Dewa Medika</h2>
		<h6>Beberapa jadwal dokter yang berada</br/>diklinik dewa medika yang akan siap</br>stand by untuk anda semua</h6>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr class="title">
						<th class="text-center" colspan="9">
							Spesialis Umum
						</th>
					</tr>
					<tr class="head">
						<th></th>
						<th>Nama Dokter</th>
						<th>Senin</th>
						<th>Selasa</th>
						<th>Rabu</th>
						<th>Kamis</th>
						<th>Jum'at</th>
						<th>Sabtu</th>
						<th>Minggu</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img src="images/dr-delvina.png" alt="Dr Delvina">
						</td>
						<td>Dr. Delvina Anastasya</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>
							<img src="images/dr-welly.png" alt="Dr Welly">
						</td>
						<td>Dr. Welly Rahmat A</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
					</tr>
					<tr>
						<td>
							<img src="images/dr-denny.png" alt="Dr Denny">
						</td>
						<td>Dr. Denny Sutanto</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>07.00 - 17.00<br/>17.00 - 07.00</td>
						<td>-</td>
					</tr>
					<tr>
						<td>
							<img src="images/dr-hamal.png" alt="Dr Hamal">
						</td>
						<td>Dr. Hamal Haydan H</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>07.00 - 17.00</td>
						<td>07.00 - 17.00</td>
						<td>-</td>
						<td>-</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section id="footer">
		<div class="container-fluid">
			<div class="content">
				<div class="profile">
					<img src="images/logo.png" alt="Logo">
					<h6>Kami Berkomitmen untuk memberikan  pelayanan terbaik dan terus  meningkatkan kualitas baik produk maupun layanan kepada customer kami.</h6>
					<div class="social-media">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo2.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo2.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo2.png" alt="twitter"></a>
					</div>
				</div>
				<div class="perusahaan">
					<h2>Perusahaan</h2>
					<ul class="footer-list">
					    <li>
					    	<a href="#" class="footer-item">Tentang Kami</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Layanan</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Artikel</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Lokasi</a>
					    </li>
					</ul>
				</div>
				<div class="kontak">
					<h2>Hubungi Kami</h2>
					<p class="email">dewamedikaclinic@gmail.com</p>
					<p class="phone">0817 90087 720</p>
				</div>
				<div class="gabung">
					<h2>Bergabung</h2>
					<a href="#" class="footer-link">
						Karir
					</a>
				</div>
				<div class="marketplace">
					<h2>Marketplace</h2>
					<a href="#" class="footer-link">
						Marketplace
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="copyright" class="text-center">
		Copyright &copy; 2022 PT DiAntara Inter Media. All Rights Reserved.
	</section>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>