<!DOCTYPE html>
<html>
<head>
	<title>Dewa Medika | Layanan Homecare</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section id="headbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="contact d-flex justify-content-start">
						<h5><i class="bi bi-telephone"></i> 0817-9007-720</h5>
						<h5><i class="bi bi-envelope"></i> dewamedikaklinik@gmail.com</h5>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="social-media d-flex justify-content-end">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo.png" alt="twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg bg-navbar" id="navmenu">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="beranda.html">Beranda</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
		        		</li>
		        		<li class="nav-item dropdown">
				         	<a class="nav-link dropdown-toggle" href="#" id="menuLayanan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Layanan
				        	</a>
				        	<ul class="dropdown-menu" aria-labelledby="menuLayanan">
				            	<li><a href="dokter_umum.html" class="dropdown-item">Dokter Umum</a></li>
	          				    <li><a href="#" class="dropdown-item">Instalasi Gawat Darurat</a></li>
	          				    <li><a href="#" class="dropdown-item">Dental Care</a></li>
	          				    <li><a href="#" class="dropdown-item">Kebidanan</a></li>
	          				    <li><a href="#" class="dropdown-item">Vaksin</a></li>
	          				    <li><a href="#" class="dropdown-item">Laboratorium</a></li>
	          				    <li><a href="homecare.html" class="dropdown-item">Homecare</a></li>
	          				    <li><a href="#" class="dropdown-item">Skincare</a></li>
	          				    <li><a href="#" class="dropdown-item">Akupuntur</a></li>
	          				    <li><a href="#" class="dropdown-item">Khitan</a></li>
	          				    <li><a href="#" class="dropdown-item">Apotek 24 Jam</a></li>
	          				    <li><a href="#" class="dropdown-item">Psikiater</a></li>
				        	</ul>
				        </li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="artikel.html">Artikel</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="kontak_kami.html">Kontak Kami</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="#">Member</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link active" aria-current="page" href="karir.html">Karir</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="marketplace.html">Marketplace</a>
		        		</li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
	</section>
	<section id="karir">
		<div class="container-fluid">
			<div class="deskripsi">
				<div class="text">
					<h2>Dewa Medika Karir</h2>
					<h6>Dewa medika karir adalah program dewa medika untuk mencari kandidat kandidat baru untuk bekerja dalam bidang kedokteran maupun berbagai bidang kesehatan</h6>
				</div>
				<img src="images/karir.png" alt="Karir">
			</div>
			<div class="row">
				<div class="col-md-4 filter">
					<div class="card">
						<div class="card-body">
							<h6 class="title">
								Pilih Kriteria
								<a href="javascript:;" class="filter-btn">Show</a>
							</h6>
							<div class="filter-form">
								<label for="kategori">Pilih Kategori</label>
								<select id="kategori" name="kategori" class="form-control form-select">
									<option>Pilih Kategori</option>
									<option>Waktu Penuh</option>
									<option>Part Time</option>
									<option>Magang</option>
								</select>
								<label for="pendidikan">Jenjang Pendidikan</label>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
								    	D1
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
								    	D3
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
								    	S1
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
								    	S2
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 karir-list">
							<div class="card karir-item">
								<div class="card-body">
									<div class="row">
										<div class="col-md-9">
											<h4>Dokter Umum Dewa Medika</h4>
											<h6>Dibutuhkan segera pekerjaan dalam bidang dokter umum</h6>
											<div class="desc">
												<span class="pendidikan">S1</span>
												<span class="kategori">Penuh Waktu</span>
												<span class="lokasi">Dewa Medika (Jakarta)</span>
											</div>	
										</div>
										<div class="col-md-3">
											<a href="#" class="btn btn-detail">Detail</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card karir-item">
								<div class="card-body">
									<div class="row">
										<div class="col-md-9">
											<h4>Dokter Khitan Dewa Medika</h4>
											<h6>Dibutuhkan segera pekerjaan dalam bidang dokter Khitan</h6>
											<div class="desc">
												<span class="pendidikan">D3</span>
												<span class="kategori">Penuh Waktu</span>
												<span class="lokasi">Dewa Medika (Jakarta)</span>
											</div>	
										</div>
										<div class="col-md-3">
											<a href="#" class="btn btn-detail">Detail</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card karir-item">
								<div class="card-body">
									<div class="row">
										<div class="col-md-9">
											<h4>Dokter Anak Dewa Medika</h4>
											<h6>Dibutuhkan segera pekerjaan dalam bidang dokter anak</h6>
											<div class="desc">
												<span class="pendidikan">D3</span>
												<span class="kategori">Penuh Waktu</span>
												<span class="lokasi">Dewa Medika (Jakarta)</span>
											</div>	
										</div>
										<div class="col-md-3">
											<a href="#" class="btn btn-detail">Detail</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card karir-item">
								<div class="card-body">
									<div class="row">
										<div class="col-md-9">
											<h4>Dokter Akupuntur Dewa Medika</h4>
											<h6>Dibutuhkan segera pekerjaan dalam bidang dokter akupuntur</h6>
											<div class="desc">
												<span class="pendidikan">D1</span>
												<span class="kategori">Penuh Waktu</span>
												<span class="lokasi">Dewa Medika (Jakarta)</span>
											</div>	
										</div>
										<div class="col-md-3">
											<a href="#" class="btn btn-detail">Detail</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card karir-item">
								<div class="card-body">
									<div class="row">
										<div class="col-md-9">
											<h4>Dokter Umum Dewa Medika</h4>
											<h6>Dibutuhkan segera pekerjaan dalam bidang dokter umum</h6>
											<div class="desc">
												<span class="pendidikan">D3</span>
												<span class="kategori">Penuh Waktu</span>
												<span class="lokasi">Dewa Medika (Jakarta)</span>
											</div>	
										</div>
										<div class="col-md-3">
											<a href="#" class="btn btn-detail">Detail</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="footer">
		<div class="container-fluid">
			<div class="content">
				<div class="profile">
					<img src="images/logo.png" alt="Logo">
					<h6>Kami Berkomitmen untuk memberikan  pelayanan terbaik dan terus  meningkatkan kualitas baik produk maupun layanan kepada customer kami.</h6>
					<div class="social-media">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo2.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo2.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo2.png" alt="twitter"></a>
					</div>
				</div>
				<div class="perusahaan">
					<h2>Perusahaan</h2>
					<ul class="footer-list">
					    <li>
					    	<a href="#" class="footer-item">Tentang Kami</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Layanan</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Artikel</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Lokasi</a>
					    </li>
					</ul>
				</div>
				<div class="kontak">
					<h2>Hubungi Kami</h2>
					<p class="email">dewamedikaclinic@gmail.com</p>
					<p class="phone">0817 90087 720</p>
				</div>
				<div class="gabung">
					<h2>Bergabung</h2>
					<a href="#" class="footer-link">
						Karir
					</a>
				</div>
				<div class="marketplace">
					<h2>Marketplace</h2>
					<a href="#" class="footer-link">
						Marketplace
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="copyright" class="text-center">
		Copyright &copy; 2022 PT DiAntara Inter Media. All Rights Reserved.
	</section>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>