<!DOCTYPE html>
<html>
<head>
	<title>Dewa Medika | Beranda</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section id="headbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="contact d-flex justify-content-start">
						<h5><i class="bi bi-telephone"></i> 0817-9007-720</h5>
						<h5><i class="bi bi-envelope"></i> dewamedikaklinik@gmail.com</h5>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="social-media d-flex justify-content-end">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo.png" alt="twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg bg-navbar" id="navmenu">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="beranda.html">Beranda</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link active" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
		        		</li>
		        		<li class="nav-item dropdown">
				         	<a class="nav-link dropdown-toggle" href="#" id="menuLayanan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            	Layanan
				        	</a>
				        	<ul class="dropdown-menu" aria-labelledby="menuLayanan">
				            	<li><a href="dokter_umum.html" class="dropdown-item">Dokter Umum</a></li>
	          				    <li><a href="#" class="dropdown-item">Instalasi Gawat Darurat</a></li>
	          				    <li><a href="#" class="dropdown-item">Dental Care</a></li>
	          				    <li><a href="#" class="dropdown-item">Kebidanan</a></li>
	          				    <li><a href="#" class="dropdown-item">Vaksin</a></li>
	          				    <li><a href="#" class="dropdown-item">Laboratorium</a></li>
	          				    <li><a href="homecare.html" class="dropdown-item">Homecare</a></li>
	          				    <li><a href="#" class="dropdown-item">Skincare</a></li>
	          				    <li><a href="#" class="dropdown-item">Akupuntur</a></li>
	          				    <li><a href="#" class="dropdown-item">Khitan</a></li>
	          				    <li><a href="#" class="dropdown-item">Apotek 24 Jam</a></li>
	          				    <li><a href="#" class="dropdown-item">Psikiater</a></li>
				        	</ul>
				        </li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="artikel.html">Artikel</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="kontak_kami.html">Kontak Kami</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="#">Member</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="karir.html">Karir</a>
		        		</li>
		        		<li class="nav-item">
		          			<a class="nav-link" aria-current="page" href="marketplace.html">Marketplace</a>
		        		</li>
		      		</ul>
		    	</div>
		  	</div>
		</nav>
	</section>
	<section id="tentang-kami">
		<div class="container-fluid">
			<h2>Tentang Kami</h2>
			<div class="row content">
				<div class="col-lg-7 text-start">
					<h3>Dewa Medika Group</h3>
					<p class="desc">
						Klinik Dewa Medika berdiri sejak tahun 1987 dengan nama klinik bhakti mulya. yang berdiri dibawah naungan yayasan bhakti mulya. sejak tahun 2006 lalu berdasarkan kepala suku dinas kesehatan kota administrasi jakarta - timur tahun 2010 dengan no. 188/5.60.07/12.15 menyatakan bahwa  telah memberikan izin tetap.
					</p>
				</div>
				<div class="col-lg-5">
					<img src="images/tentang-kami.png" alt="About Us">
				</div>
			</div>
		</div>
	</section>
	<section id="visi-misi">
		<div class="container-fluid">
			<h2>Visi Misi</h2>
			<p>Visi misi kami akan terus berkembang  dan akan<br/>terus menjadi klinik yang akan mensejahterakan semua </p>
			<div class="content">
				<img src="images/visi-misi.png" alt="Visi Misi">
				<div class="card">
					<div class="card-body text-start">
						<h2>Visi Misi</h2>
						<ul class="lists">
						    <li>Memberikan jaminan Kesehatan yang memuaskan</li>
						    <li>Mewujudkan sumber daya manusia berkualitas</li>
						    <li>Memberikan solusi dalam masalah Kesehatan</li>
						    <li>Meringankan biaya pemeliharaan Kesehatan</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mitra">
		<div class="container-fluid">
			<h2>Dewa Medika Group</h2>
			<p>Beberapa mitra partner yang bergabung<br/>dengan dewa medika grou</p>
			<div class="row list-mitra">
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/zurich.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/cigna.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/etiqa.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/victona.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/binus.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/fwd.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/pertamina.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/chubb.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/bumiputera.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/bri.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/halodoc.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/bpjs.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/zurich.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/cigna.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/etiqa.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/victona.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/binus.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/fwd.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/pertamina.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/chubb.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/bumiputera.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/bri.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/halodoc.png" alt="Zurich">
					</div>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<div class="card">
						<img src="images/bpjs.png" alt="Zurich">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="footer">
		<div class="container-fluid">
			<div class="content">
				<div class="profile">
					<img src="images/logo.png" alt="Logo">
					<h6>Kami Berkomitmen untuk memberikan  pelayanan terbaik dan terus  meningkatkan kualitas baik produk maupun layanan kepada customer kami.</h6>
					<div class="social-media">
						<a href="https://www.facebook.com"><img src="images/FacebookLogo2.png" alt="facebook"></a>
						<a href="https://www.instagram.com"><img src="images/InstagramLogo2.png" alt="instagram"></a>
						<a href="https://www.twitter.com"><img src="images/TwitterLogo2.png" alt="twitter"></a>
					</div>
				</div>
				<div class="perusahaan">
					<h2>Perusahaan</h2>
					<ul class="footer-list">
					    <li>
					    	<a href="#" class="footer-item">Tentang Kami</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Layanan</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Artikel</a>
					    </li>
					    <li>
					    	<a href="#" class="footer-item">Lokasi</a>
					    </li>
					</ul>
				</div>
				<div class="kontak">
					<h2>Hubungi Kami</h2>
					<p class="email">dewamedikaclinic@gmail.com</p>
					<p class="phone">0817 90087 720</p>
				</div>
				<div class="gabung">
					<h2>Bergabung</h2>
					<a href="#" class="footer-link">
						Karir
					</a>
				</div>
				<div class="marketplace">
					<h2>Marketplace</h2>
					<a href="#" class="footer-link">
						Marketplace
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="copyright" class="text-center">
		Copyright &copy; 2022 PT DiAntara Inter Media. All Rights Reserved.
	</section>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>